.picker{
  display: flex;
  flex-direction: column;
  align-items: center;

  &__control{
    flex-grow: 1;
    min-height: 1em;
    width: 95%;
  }

}

.picker__control{

  /* red track */
  &--red input[type=range]::-webkit-slider-runnable-track {
    background: -webkit-linear-gradient(left, #300 0%, #F00 100%);
    background: -o-linear-gradient(left, #300 0%, #F00 100%);
    background: linear-gradient(to right, #300 0%, #F00 100%);
  }
  &--red input[type=range]::-moz-range-track {
    background: #F00;
  }
  &--red input[type=range]::-ms-fill-upper {
    background: #F00;
  }
  &--red input[type=range]:focus::-ms-fill-lower {
    background: #F00;
  }

  /* green track */
  &--green input[type=range]::-webkit-slider-runnable-track {
    background: -webkit-linear-gradient(left, #030 0%, #0F0 100%);
    background: -o-linear-gradient(left, #030 0%, #0F0 100%);
    background: linear-gradient(to right, #030 0%, #0F0 100%);
  }
  &--green input[type=range]::-moz-range-track {
    background: #0F0;
  }
  &--green input[type=range]::-ms-fill-upper {
    background: #0F0;
  }
  &--green input[type=range]:focus::-ms-fill-lower {
    background: #0F0;
  }

  /* blue track */
  &--blue input[type=range]::-webkit-slider-runnable-track {
    background: -webkit-linear-gradient(left, #003 0%, #00F 100%);
    background: -o-linear-gradient(left, #003 0%, #00F 100%);
    background: linear-gradient(to right, #003 0%, #00F 100%);
  }
  &--blue input[type=range]::-moz-range-track {
    background: #00F;
  }
  &--blue input[type=range]::-ms-fill-upper {
    background: #00F;
  }
  &--blue input[type=range]:focus::-ms-fill-lower {
    background: #00F;
  }

}
