<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>RGB</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="HandheldFriendly" content="true" />

	<link href="css/main.css" rel="stylesheet" type="text/css">
</head>

<body class="status--playing result--stars">

	<div id="container">

		<div id="workarea">

			<%- partial('partials/workareas/_rgb') %>

		</div>

		<div id="controls">

			<%- partial('partials/controls/_rgbpicker') %>

			<%- partial('partials/controls/_results') %>

		</div>

	</div>

	<script src="js/jquery.js"></script>
	<script src="js/rgb.js"></script>
	<script src="js/game.js"></script>

</body>
</html>
