<div class="picker">
  <div class="picker__control picker__control--red">
    <input class="control--slider" type="range" name="slider--red" id="slider--red" value="255" min="0" max="255">
  </div>

  <div class="picker__control picker__control--green">
    <input class="control--slider" type="range" name="slider--green" id="slider--green" value="255" min="0" max="255">
  </div>

  <div class="picker__control picker__control--blue">
    <input class="control--slider" type="range" name="slider--blue" id="slider--blue" value="255" min="0" max="255">
  </div>

  <div class="picker__menu">
    <a href="#" id="btn__new">Nuevo</a>
    <a href="#" id="btn__compare">Verificar</a>
  </div>
</div>
